* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 119%;
}

.blue {
  color: #09006C;
}

.red {
  color: #FF2400;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1420px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 135px;
  background: #09006C;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  display: block;
  width: 265px;
  height: 71px;
}
.header-logo__pic {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  min-height: calc(100vh - 135px);
  background: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main__container {
  padding-bottom: 50px;
}
.main-block {
  min-height: calc(100vh - 400px);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .input-block {
  width: 100%;
  max-width: 595px;
  padding-top: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin-right: 20px;
}
.main .file-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 269px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 10px;
  border: 8px dashed #2D2D2D;
  border-radius: 17px;
  position: relative;
  -webkit-filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.58));
          filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.58));
}
.main .file-btn::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  right: -237px;
  width: 220px;
  height: 73px;
  background-repeat: no-repeat;
  background-size: contain;
}
.main .file-btn_top::after {
  background-image: url("../img/arrow-right-down.svg");
}
.main .file-btn_down {
  margin-top: 88px;
}
.main .file-btn_down::after {
  background-image: url("../img/arrow-right-up.svg");
  -webkit-transform: translateY(-90%);
          transform: translateY(-90%);
}
.main .file-btn__text {
  font-size: 30px;
}
.main .output-block {
  max-width: 580px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.main .output-block .console-title {
  font-weight: bolder;
  color: #2d2d2d;
  margin-bottom: 12px;
}
.main .output-block .console {
  height: 626px;
  width: 100%;
  background: rgba(0, 0, 0, 0.77);
  border: 8px solid #2D2D2D;
  border-radius: 7px;
  padding: 35px 37px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.14);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.14);
}
.main .output-block .console::-webkit-scrollbar {
  height: 5px;
}
.main .output-block .console::-webkit-scrollbar-track {
  background: #2d2d2d;
}
.main .output-block .console::-webkit-scrollbar-thumb {
  background: #efefef;
  border-radius: 3px 0 0 3px;
}
.main .output-block .console__text {
  color: #efefef;
  margin-bottom: 10px;
}
.main .output-block .console__text_green {
  color: #24FF00;
}

.footer {
  width: 100%;
  height: 403px;
  background: #2d2d2d;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__top {
  padding-top: 61px;
}
.footer__logo {
  display: block;
  width: 265px;
  height: 71px;
}
.footer-logo__pic {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
.footer__down {
  padding-bottom: 41px;
}
.footer__down-text {
  color: white;
  text-align: center;
}

@media screen and (max-width: 1420px) {
  .main .file-btn::after {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .main-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .input-block {
    max-width: 100%;
  }
  .main .output-block {
    max-width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .header__logo {
    margin: 0 auto;
  }
  .main .file-btn__text {
    font-size: 20px;
  }
  .main .output-block .console-title {
    text-align: center;
  }
  .main .output-block .console {
    padding: 16px;
  }
  .main .output-block .console__text {
    font-size: 22px;
  }
  .footer__logo {
    margin: 0 auto;
  }
  .footer__down-text {
    font-size: 26px;
  }
}