.approach{
	position: relative;
	&::after{
		display: block;
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 120px;
		width: 100%;
		background: linear-gradient(180deg, rgba(249, 249, 251, 0.00) 0%, #FFF 100%);
	}
	&__container-l{
		background-image: url('../img/strategy/intro-bg.webp');
	}
	&__desc{
		max-width: 596px;
		position: relative;
		z-index: 100;
	}
	&__btn{
		max-width: 123px;
	}
}

@media screen and (max-width: 768px){
	.approach{
		&__desc{
			max-width: 360px;
			padding-bottom: 0;
		}
		&__container-l{
			padding-bottom: 112px;
		}
	}
}
@media screen and (max-width: 430px){
	.approach{
		&__container-l{
			padding-bottom: 62px;
			
		}
	}
}