.default-section-main {
	background-color: #fff;
	width: 100%;
	padding: 70px;
	margin: 0 auto;
	max-width: 1296px;
	box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.08);
}
.default-section {
	position: relative;
	padding: 80px 0;
	&::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 160px;
		background: linear-gradient(0, rgba(249, 249, 251, 0.00) 0%, #FFF 100%);
	}
	&__container {
		position: relative;
	}

	&__title {
		font-size: 36px;
		line-height: 133%;
		font-weight: 600;
		margin: 0;
	}
	&__list{
		padding-left: 20px;

	}
	&__item{
		margin-bottom: 0px;
		font-size: 16px;
		color: #333333;
		line-height: 200%;
		font-weight: 400;
		list-style-type: none;
		position: relative;
		&::before{
			content: '';
			display: block;
			position: absolute;
			width: 3.6px;
			height: 3.7px;
			border-radius: 50%;
			background-color: #333333;
			top: 15px;
			left: -12px;
		}
	}
	&__text {
		font-size: 16px;
		line-height: 162.5%;
		color: #333333;
		font-weight: 400;
		&_lst{
			margin-top: 24px;
		}
		&:not(:last-child){
			margin-bottom: 24px;
		}

		&_spec-top {
			margin-top: 24px;
		}
	}


	&__subtitle {
		font-size: 24px;
		font-weight: 600;
		line-height: 137.5%;
		margin-bottom: 24px;
		color: #333333;

	}

	&__link {
		text-decoration: underline;
		color: #0057FF;
		transition: .1s;
		font-size: 16px;
		line-height: 162.5%;
		color:#2E8D3A;
		font-style: normal;
		font-weight: 600;
		text-decoration: none;

	}
}
.default-section-row {
	margin-top: 48px;
}
@media screen and (max-width: 768px){
	.default-section{
		padding: 60px 0 99px;
		&-main{
			padding: 40px 20px;
		}
		&-row{
			margin-top: 32px;
		}
	
		&__title {
			font-size: 24px;
		}
		&__text{
			&:not(:last-child){
				margin-bottom: 16px;
			}
			&_spec-top{
				margin-top: 16px;
			}
			&_lst{
				margin-top: 16px;
			}
		}
		&__subtitle{
			font-size: 20px;
			margin-bottom: 16px;
		}
	}
}
