.intro {
	background-color: white;
	position: relative;
	&::after{
		width: 100%;
		height: 120px;
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F9F9FB 100%);
	}

	&__container-l{
		max-width: 1920px;
		margin: 0 auto;
		min-height: 640px;
		background-image: url('../img/main/bg_image.webp');
		background-position: right;
		background-size: contain;
		background-repeat: no-repeat;
		padding-top: 100px;
	}
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1320px;
		position: relative;
		z-index: 10;
	}
	&__title.title {
		margin: 0;
		font-weight: 600;
		font-size: 42px;
		line-height: 128.571%;
		&::after{
			content: '';
			display: block;
			width: 66px;
			height: 3px;
			background: $green;
			margin: 32px 0;
		}
	}
	&__text {
		line-height: 181.8%;
		margin-bottom: 60px;
	}
	&__btn {
		width: 125px;
		transition: .1s all ease-in, .3s width;
		position: relative;
		& > span{
			overflow: hidden;
			transition: .8s visibility, .7s opacity;
			top: 12px;
			left: 20px;
		}
		&_strat{
			width: 145px;
		}
		&_team #st{
			opacity: 0;
			position: absolute;
		}
		&_strat #tm{
			opacity: 0;
			position: absolute;
		}
	}
}
.intro__desc {
	max-width: 631px;
	padding-bottom: 0;
	padding-top: 0;
}


@media screen and (max-width: 1700px){
	.intro{
		&__container-l{
			padding-top: 60px;
			background-position: calc(100% + 333px);
			background-size: auto 100%;
			min-height: 503px;
		}
	}
}


@media screen and (max-width: 1024px){

	.intro{
		&__container-l{
			padding-bottom: 71px;
		}
		&__desc{
			max-width: 345px;
		}
		&__title.title{
			font-size: 28px;
			line-height:  142.857%;


			&::after{
				margin: 24px 0
			}
		}
		&__text{
			font-size: 18px;
			font-weight: 400;
			line-height:  155.556%;
			margin-bottom: 40px;
			


		}
	}

}
@media screen and (max-width: 730px){
	.intro{
		&__container-l{
			padding-top: 60px;
			background-image: inherit;
			background-size: auto 100%;
			min-height: 503px;
		}
	}
}
