// Variable for planets
$pl_sz: 48px;


.pl-c{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 33.96%;
	height: 33.96%;
	z-index: -1;
	border-radius: 50%;
	box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.25) inset, -20px 0px 24px 0px rgba(0, 0, 0, 0.15) inset;
	box-shadow: 0px 14px 34px 0 rgba(0, 0, 0, 0.08);	
	background-color: rgba(0,0,0,0.04);
}

.planets{
	background-color: #fff;
	padding-top: 80px;
	padding-bottom: 60px;

	&__container{
		max-width: 1316px;
		position: relative;
	}
	&__title{
		&::after{
			display: none;
			margin-bottom: 24px;
		}
	}
	&__text{
		color: #333;
		font-family: Open Sans;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 160%;
		margin-bottom: 44px;
	}
	&__ab{
		position: absolute;
		width: 100%;
		max-width: 647px;
		padding: 10px 24px;


		&_left{
			left: 0;
			top: 37px;
			background: linear-gradient(90deg, rgba(196, 196, 196, 0.05) 0%, rgba(123, 120, 120, 0.00) 87.39%);
		}
		&_right{
			right: 0;
			bottom: 33px;
			background: linear-gradient(270deg, rgba(196, 196, 196, 0.05) 0%, rgba(123, 120, 120, 0.00) 87.39%);



			& .planets__ab-text{
				text-align: right;
				margin-left: auto;
				max-width: 169px;
				
			}
		}

		&-text{
			display: block;
			max-width: 169px;
			color: #333;
			font-size: 22px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;

		}
	}
}
.planets-wrapper{
	width: 100%;
	padding: 0;
	margin: 0px auto 32px;
	background-image: url('../img/strategy/intro.svg');
	background-repeat: no-repeat;
	background-size: 98% 100%;
	background-position: center;
	position: relative;
}
.planetarium{
	width: 49.108%;
	padding-top: 49.108%;
	
	position: relative;
	z-index: 100;
	margin: auto;
}
.planetarium-center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 130px;
	height: 130px;
	background-color: transparent;
	z-index: 100;


	// &::after{
	// 	content: '';
	// 	display: block;
	// 	width: 90%;
	// 	height: 0;
	// 	position: absolute;
	// 	top: 50.5%;
	// 	left: 50%;
	// 	background-color: blue;
	// 	box-shadow: 0 0 3px 3px rgba(0,0,0,0.03);
	// 	transform: translate(-50%, -50%);
	// 	transition: .1s;;
	// }
	&__p{
		position: absolute;
		display: block;
		font-size: 20px;
		line-height: 135%;
		font-weight: 600;
		color: #333;
		text-align: center;
		width: 100%;
		transition: .2s;
		&:nth-child(1){
			top: 0
		}
		&:nth-child(2){
			bottom: 0
		}
	}
	&__planet:hover ~ .planetarium-center__p{
		color: $green_dark
	}
	.planetarium__planet_active ~ .planetarium-center__p{
		color: $green_dark
	}
	}
	.planetarium-center .planetarium-center-block:hover ~ .planetarium-center{
		background-color: red;
	}
	
a.planetarium__planet{
	position: absolute;
	display: block;
	width: $pl_sz;
	height: $pl_sz;
	border-radius: 50%;
	transition: .2s;

	cursor: pointer;
	text-decoration: none;
	&::before{
		content: '';
		position: absolute;
		width: calc($pl_sz * 5 / 6);
		height: calc($pl_sz * 5 / 6);
		top: calc($pl_sz * 1 / 12);
		left: calc($pl_sz * 1 / 12);
		border-radius: 50%;
		background: linear-gradient(135deg, #61E85E 0%, #219F1E 100%);
		box-shadow: 0px 24px 24px 0px #00000026;
		z-index: 1;
		transition: .2s;
		
	}
	&::after{
		color: #333333;
		box-sizing: content-box;
		top: 5px;
		display: block;
		position: absolute;
		padding: 5px;
		padding-left: 0;
		font-size: 20px;
		line-height: normal;
		font-weight: 600;
		transition: .2s all;
		background: #fff;
	}
	&:hover, &_active{
		background-size: $pl_sz $pl_sz;
		&::before{
			width: $pl_sz;
			height: $pl_sz;
			top: 0;
			left: 0;
			box-shadow: 0px 24px 28px 0px rgba(0,0,0,0.25);
		}
		&::after{
			color: $green_dark;
			z-index: 0;
		}
	}

}
#cmdts{
	right: calc(50% - 50% * cos(3.14159 / 20) - $pl_sz / 2);
	top: calc(50% - 50% * sin(3.14159 / 20) - $pl_sz / 2);
	&::after{
		content: 'Commodities';

		right: -12px;
		transform: translate(100%, );
	}
}
#for_exc{
	right: calc(50% - 50% * cos(6 * 3.14159 / 20) - $pl_sz / 2);
	top: calc(50% - 50% * sin(6 * 3.14159 / 20) - $pl_sz / 2);
	&::after{
		content: 'Foreign Exchange';

		right: -12px;
		transform: translate(100%, -28%);
	}
}
#equ{
	right: calc(50% - 50% * cos(12 * 3.14159 / 20) - $pl_sz / 2);
	top: calc(50% - 50% * sin(12 * 3.14159 / 20) - $pl_sz / 2);
	&::after{
		content: 'Equities';
		padding: 0;
		left: -12px;
		transform: translate(-100%, 11%);
	}
}
#digas{
	right: calc(50% - 50% * cos(17.5 * 3.14159 / 20) - $pl_sz / 2);
	top: calc(50% - 50% * sin(17.5 * 3.14159 / 20) - $pl_sz / 2);
	&::after{
		content: 'Digital Assets';

		left: -12px;
		transform: translate(-100%, 0);
	}
}
#ins{
	right: calc(50% - 50% * cos(23 * 3.14159 / 20) - $pl_sz / 2);
	top: calc(50% - 50% * sin(23 * 3.14159 / 20) - $pl_sz / 2);
	&::after{
		content: 'Insurance';

		left: -12px;
		transform: translate(-100%, 0);
	}
}
#infl{
	right: calc(50% - 50% * cos(26.8 * 3.14159 / 20) - $pl_sz / 2);
	top: calc(50% - 50% * sin(26.8 * 3.14159 / 20) - $pl_sz / 2) ;
	&::after{
		content: 'Inflation';

		left: -12px;
		transform: translate(-100%, 0);
	}
}
#cred{
	right: calc(50% - 50% * cos(31.4 * 3.14159 / 20) - $pl_sz / 2);
	top: calc(50% - 50% * sin(31.4 * 3.14159 / 20) - $pl_sz / 2);
	&::after{
		content: 'Credit';
		padding: 0;
		right: -12px;
		transform: translate(110%, 34%);
	}
}
#fxd_inc{
	right: calc(50% - 50% * cos(36.5 * 3.14159 / 20) - $pl_sz / 2);
	top: calc(50% - 50% * sin(36.5 * 3.14159 / 20) - $pl_sz / 2);
	&::after{
		content: 'Fixed Income';

		right: -12px;
		transform: translate(100%, 0);
	}
}
#muas1{
	left: 24px;
	top: calc(44% - $pl_sz / 2);
	&::after{
		content: 'Multi-Asset';
		top: 1.2 * $pl_sz;
		right: 0;
		transform: translate(65%, 0);
		width: 109px;
	}
}
#muas2{
	right: 24px;
	top: calc(32.4% - $pl_sz / 2);
	&::after{
		content: 'Multi-Asset';
		top: -$pl_sz;
		right: 0;
		transform: translate(0, 0);
		width: 109px;
	}
}
a.planetarium__planet_g{
	position: absolute;
	display: block;
	width: $pl_sz;
	height: $pl_sz;
	border-radius: 50%;
	transition: .2s;
	text-decoration: none;
	&::before{
		content: '';
		position: absolute;
		width: calc($pl_sz * 5 / 6);
		height: calc($pl_sz * 5 / 6);
		top: calc($pl_sz * 1 / 12);
		left: calc($pl_sz * 1 / 12);
		border-radius: 50%;
		background: linear-gradient(144deg, #44cf8f 0%, #1c8856 100%);
		box-shadow: 0px 24px 24px 0px #00000026;
		z-index: 1;
		
	}
	&::after{
		color: #333333;
		background: #fff;
		box-sizing: content-box;
		top: 5px;
		display: block;
		position: absolute;
		padding: 5px;
		padding-left: 0;
		font-size: 20px;
		line-height: 135%;
		font-weight: 600;
		transition: .2s all;
		z-index: -100;
	}
	&.planetarium__planet_active{
		background-size: $pl_sz $pl_sz;
		&::before{
			width: $pl_sz;
			height: $pl_sz;
			top: 0;
			left: 0;
			box-shadow: 0px 24px 28px 0px rgba(0,0,0,0.25);
		}
		&::after{
			color: $green_dark;
			z-index: 0;
		}
}
}
#anlcs{
	right: calc(50% - 29.1% * cos(2.8 * 3.14159 / 20) - $pl_sz / 2);
	top: calc(50% - 29.1% * sin(2.8 * 3.14159 / 20) - $pl_sz / 2);
	&::after{
		content: 'Analytics';

		right: -14px;
		transform: translate(35%, 130%);
	}
}
#pdcts{
	right: calc(50% - 29.1% * cos(10.5 * 3.14159 / 20) - $pl_sz / 2);
	top: calc(50% - 29.1% * sin(10.5 * 3.14159 / 20) - $pl_sz / 2);
	&::after{
		content: 'Products';

		right: -12px;
		transform: translate(100%, 0);
	}
}
#vldt{
	right: calc(50% - 29.1% * cos(19 * 3.14159 / 20) - $pl_sz / 2);
	top: calc(50% - 29.1% * sin(19 * 3.14159 / 20) - $pl_sz / 2);
	&::after{
		content: 'Validations';

		right: -12px;
		transform: translate(25%, -130%);
	}
}
#mtds{
	right: calc(50% - 29.1% * cos(26.5 * 3.14159 / 20) - $pl_sz / 2);
	top: calc(50% - 29.1% * sin(26.5 * 3.14159 / 20) - $pl_sz / 2);
	&::after{
		content: 'Methods';
		right: -12px;
		padding: 0;
		transform: translate(100%, 23%);
	}
}
#mdls{
	right: calc(50% - 29.1% * cos(35 * 3.14159 / 20) - $pl_sz / 2);
	top: calc(50% - 29.1% * sin(35 * 3.14159 / 20) - $pl_sz / 2);
	&::after{
		content: 'Models';

		right: -12px;
		transform: translate(40%, -130%);
	}
}
#risk{
	right: calc(50% - $pl_sz / 2);
	top: calc(50% - $pl_sz / 2);
	&::before{
		background: linear-gradient(144deg, #23b27a 0%, #00663e 100%);
	}
}

.grid {
	position: relative;
	padding-top: 0;
	background-color: $gray_bg;
	&::before{
		content: '';
		display: block;
		width: 100%;
		height: 160px;
		position: absolute;
		top: 0;
		left: 0;
		background: linear-gradient(0, rgba(249, 249, 251, 0.00) 0%, #FFF 100%);
		z-index: 1000;
	}
	&__container {
		position: relative;
		z-index: 100000;
		max-width: 1608px;
	}
}
.grid-swiper{
	width: 100%;
	position: unset;
	margin-top: 0px;
	margin-bottom: 60px;


	&-wrapper{
		display: flex;
		align-items: stretch;

	}

}
.swiper>div.grid__pagination{
	top: unset;
	position: absolute;
	bottom: 34.5px;
	left: 0;
	opacity: 0;
	transition: .9s;
}
.grid__button-prev{
	left: 65px;
	top: calc(50% - 60px)
}
.grid__button-next{
	right: 65px;
	top: calc(50% - 60px)
}
.grid-card {
	background: linear-gradient(90deg, #FCFCFC 44.22%, #FFF 100%);
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	flex-direction: row-reverse;
	height: 100%;
	border-left: 3px solid $green;
	padding: 32px;
	&__desc {
		flex-shrink: 3;
	}
	&__title {
		color: #333;
		font-size: 28px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		margin-bottom: 8px;
	}
	&__text {
		font-size: 16px;
		line-height: 162.5%;
		font-weight: 600;
		color: #515151;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 162.5%;
	}
	&__ul {
		margin-left: 26px;
	}
	&__li {
		color: #6F6F6F;
		font-size: 16px;
		line-height: 162.5%;
		list-style-image: url('../img/icons/li-cube.svg');
		padding-left: 8px;
		&:not(:last-child){
			margin-bottom: 16px;

		}
	}
	&__image {
		margin-right: 24px;
		flex-shrink: 1;
		align-self: center;
		height: 76px;

		&_left{
			margin-right: 0;
		}
		&_right{
			margin-left: 0;
		}
	}
	&__img {
		object-fit: contain;
	}
}


@media screen and (max-width: 1024px){
	.planets{
		padding-top: 60px;
		&__title{
			margin-bottom: 24px;
		}
		&__text{
			margin-bottom: 24px;
		}
	}
	
	.planets-wrapper{
		display: none;
	}
	.planets{
		&__text{
			font-size: 16px;
			line-height: 162.5%;
		}
	}
	.grid{
		position: relative;
		
		&-swiper-wrapper{
			flex-direction: column;
		}
		&-swiper{
			margin-bottom: 0;
			position: relative;
			&::before{
				content: '';
				position: absolute;
				display: block;
				top: 0;
				left: 27px;
				width: 1px;
				height: 100%;
				background: #bababa;
			}
		}
		&-card{
			position: relative;
			border: 0;
			background: $gray_bg;
			border-radius: 28px;
			padding: 17px 40px 17px 56px;
			max-height: 56px;
			overflow: hidden;
			transition: max-height 0.4s;
			&:not(:last-child){
				margin-bottom: 12px;
			}

			&::before{
				content: '';
				position: absolute;
				top: 12px;
				left: 12px;
				border-radius: 50%;
				width: 32px;
				height: 32px;
				filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.10));;
			}
			&:not(:last-child).grid-card_last{
				margin-bottom: 32px;
			}
			&_g::before{
				background: linear-gradient(135deg, #61E85E 0%, #219F1E 100%);
			}
			&_dg::before{
				background: linear-gradient(144deg, #44CF8F 5.31%, #1C8856 94.16%);
			}
			&_vdg::before{
				background: linear-gradient(144deg, #23B27A 5.31%, #00663E 94.16%);				;
			}

			&_active.grid-card_dg .grid-card__title{
				color: #30AB72;
			}
			&_active.grid-card_vdg .grid-card__title{
				color: #14905F;;
			}

			&::after{
				content: '';
				position: absolute;
				top: 18px;
				right: 20px;
				width: 20px;
				height: 20px;
				background-image: url(/img/icons/mini-bottom-arrow.svg);
				background-repeat: no-repeat;
				background-size: contain;

				transition: .3s;
			}

			&__title{
				font-size: 16px;
				margin-bottom: 12px;
			}
			&__text{
				font-size: 14px;
				font-weight: 400;
				line-height: 150%
			}

			&__image{
				display: none;
			}
		}
		&-card_active{

			&::after{
				background-image: url(/img/icons/mini-top-arrow_dis.svg);
			}

			& .grid-card__title{
				color: $green_dark;
				
			}
		}
	}
}