.vision{
	position: relative;
	&::after{
		display: block;
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 120px;
		width: 100%;
		background: linear-gradient(180deg, rgba(249, 249, 251, 0.00) 0%, #FFF 100%);
	}
	&__container-l{
		background-image: url('../img/team/intro-bg.webp');
	}
	&__desc{
		position: relative;
		z-index: 100;
	}
}
@media screen and (max-width: 768px){
	.vision{
		&__desc{
			padding-bottom: 0;
		}
		&__container-l{
			padding-bottom: 98px;
		}
	}
}

@media screen and (max-width: 420px){
	.vision{
		&__container-l{
			padding-bottom: 62px;
		}
	}
}