*, *:focus {
  font-family: "Open Sans", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:focus, *:active, *:hover {
  outline: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #F9F9FB;
}

.body_noscroll {
  overflow: hidden;
}

.checkbox {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #2E8D3A;
  border-radius: 1px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 11px;
  cursor: pointer;
}
.checkbox:hover {
  background-image: url(../img/icons/check-green.svg);
  background-color: rgba(41, 173, 38, 0.1);
  border: 1px solid rgba(41, 173, 38, 0.1);
}

.img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.link-btn {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #1B3949;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px auto;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.link-btn_linkedin {
  background-image: url("../img/icons/linkedin.svg");
}

.to-top {
  display: block;
  position: fixed;
  width: 60px;
  height: 60px;
  background-color: #29AD26;
  background-image: url("../img/icons/arrow-up.svg");
  background-size: 17px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10000;
  bottom: 24px;
  right: 24px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.to-top:hover {
  background-color: #2E8D3A;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container_blur {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.header {
  min-height: 80px;
  padding: 16px 0 15px;
  background: white;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 108px;
}
.header__logo-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.header__nav {
  margin-left: 162px;
}
.header__buttons {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 200px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__link-btn {
  background-position: center 10.5px;
}
.header__link-btn:hover {
  background-color: #1B3949;
  background-image: url("../img/icons/linkedin_hover.svg");
}
.header__btn {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header__btn:hover {
  background-color: #2E8D3A;
}

.header-burger {
  display: none;
  width: 24px;
  height: 21px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin-left: 20px;
}
.header-burger__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0;
  width: 100%;
  border-bottom: 3px solid black;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header-burger_active .header-burger__line:nth-child(2) {
  width: 0;
}
.header-burger_active .header-burger__line:nth-child(1) {
  -webkit-transform: translateY(9px) rotate(45deg);
          transform: translateY(9px) rotate(45deg);
}
.header-burger_active .header-burger__line:nth-child(3) {
  -webkit-transform: translateY(-9px) rotate(-45deg);
          transform: translateY(-9px) rotate(-45deg);
}

.nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__link {
  color: #1B3949;
  margin-left: 60px;
  position: relative;
  font-size: 18px;
  font-weight: 400;
}
.nav__link:hover {
  color: #2E8D3A;
}

.btn {
  display: block;
  padding: 12px 17px 12px 17px;
  background-color: #29AD26;
  border-radius: 8px;
  color: #fff;
  font-size: 18px;
  line-height: 24.5px;
  font-weight: 500;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.intro {
  background-color: white;
}
.intro__container-l {
  max-width: 1920px;
  margin: 0 auto;
  min-height: 640px;
  background-image: url("../img/main/bg_image.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 100px;
}
.intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1320px;
}
.intro__title.title {
  margin: 0;
  font-weight: 600;
}
.intro__title.title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background: #29AD26;
  margin: 32px 0;
}
.intro__text {
  font-size: 22px;
  line-height: 181%;
  margin-bottom: 60px;
  font-weight: 400;
  color: #333333;
}
.intro__btn {
  max-width: 142px;
  padding: 12px 36px 12px 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-image: url("../img/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
}
.intro__btn:hover {
  background-color: #2E8D3A;
  background-position: center right 16px;
}

.intro-desc {
  max-width: 636px;
}

.title {
  font-size: 42px;
  line-height: 128.5%;
  font-weight: 500;
}

.services {
  position: relative;
  background: #F9F9FB;
}
.services::before {
  width: 100%;
  height: 120px;
  content: "";
  position: absolute;
  top: -120px;
  left: 0;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#F9F9FB));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F9F9FB 100%);
}
.services__container {
  position: relative;
  padding: 0;
  max-width: 1320px;
  padding-bottom: 40.5px;
}
.services__container::before {
  position: absolute;
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  background: #F9F9FB;
  left: 0;
  top: 0;
  z-index: 100;
}
.services__container::after {
  position: absolute;
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  background: #F9F9FB;
  right: 0;
  top: 0;
  z-index: 100;
}
.services__subtitle {
  color: #333333;
  margin-bottom: 24px;
  font-weight: 600;
}
.services__text {
  line-height: 162.5%;
  font-size: 16px;
  color: #949494;
  margin-bottom: 44px;
}
.services__button {
  display: block;
  width: 100%;
  padding: 12px;
  color: #5D727D;
  line-height: 133.5%;
  border: 1px solid #2E8D3A;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.services__button:hover {
  background: #2E8D3A;
  color: #fff;
}
.services div.swiper-pagination.services__pagination {
  bottom: var(--swiper-pagination-bottom, 32.5px);
}
.services__nxt {
  right: 0px;
}
.services__prv {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 0px;
}

.swiper {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.services-w {
  position: relative;
  padding: 0 84px;
  margin: 0 auto;
  max-width: 1488px;
  padding-bottom: 37.5px;
}

.services-card {
  padding: 35px 44px 52px;
  border-top: 3px solid #F9F9FB;
  background: #F9F9FB;
  -webkit-transition: 0s all, 0.2s background, 0.2s border;
  transition: 0s all, 0.2s background, 0.2s border;
  min-height: 497px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  max-width: 440px;
}
.services-card__img_g {
  display: none;
}
.services-card_f, .services-card:hover {
  background: #fff;
  border-top: 3px solid #29AD26;
  -webkit-box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.08);
  z-index: 1000;
}
.services-card_f .card__img, .services-card:hover .card__img {
  display: none;
}
.services-card_f .services-card__img_g, .services-card:hover .services-card__img_g {
  display: block;
}
.services-card__image {
  margin: 0 auto 28px;
  width: 134px;
  height: 150px;
}

.card__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.subtitle {
  font-size: 28px;
  line-height: 136%;
}

.services__pagination_hidden {
  opacity: 0;
  visibility: hidden;
}

.services-close {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  position: absolute;
  right: 90px;
  top: 0;
  width: 30px;
  height: 30px;
  background-image: url("../img/icons/close.svg");
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10000;
}
.services-close:hover {
  background-image: url("../img/icons/close_hover.svg");
}

.services-hidden {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.services-hidden_visible {
  visibility: visible;
  opacity: 1;
}
.services-hidden__container {
  position: absolute;
  max-width: 1036px;
  overflow-x: hidden;
  padding: 44px 90px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.services-hidden__container.container_blur {
  -webkit-filter: unset;
          filter: unset;
}
.services-hidden__pagination.swiper-pagination {
  bottom: 9px;
  -webkit-filter: unset;
          filter: unset;
}
.services-hidden__pagination.swiper-pagination .swiper-pagination-bullet {
  border-radius: 0;
  width: 20px;
  height: 3px;
  margin: 0 6px;
}
.services-hidden__image {
  position: absolute;
  top: 44px;
  left: 60px;
  width: 67px;
  height: 75px;
}
.services-hidden__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.services-hidden__subtitle {
  text-align: center;
}
.services-hidden__subtitle::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background: #29AD26;
  margin: 24px auto;
}
.services-hidden__text {
  max-width: 550px;
  font-weight: 500;
  font-size: 16px;
  font-weight: 150%;
  color: #333333;
  text-align: center;
  margin: 0 auto 52px;
}
.services-hidden__li {
  list-style-image: url("../img/icons/li-cube.svg");
  color: #6F6F6F;
  font-size: 16px;
  line-height: 163%;
  text-align: left;
  margin-bottom: 16px;
  padding-left: 8px;
  font-weight: 400;
}
.services-hidden-card {
  position: relative;
  border-top: 3px solid #29AD26;
  background-color: #fff;
  background-image: url("../img/main/bg-h-serv.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 60px;
  height: 590px;
}

.footer {
  background: #000;
  padding: 32px 0;
}
.footer__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__privacy {
  position: relative;
  color: #fff;
  line-height: 0.85em;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.footer__privacy:hover {
  color: #29AD26;
}
.footer__privacy:nth-child(1) {
  padding-right: 32px;
  border-right: 1px solid #fff;
}
.footer__privacy:nth-child(2) {
  padding-left: 32px;
}
.footer__allrights {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0 auto;
}
.footer__link-btn {
  width: 32px;
  height: 32px;
  background-size: 12.8px;
}

.footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.privacy {
  font-size: 14px;
}

.allrights {
  color: #858B9C;
  font-size: 14px;
}

.footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 84px;
}

.link-btn_dark {
  border-color: #fff;
}
.link-btn_dark:hover {
  background-color: #fff;
}

.link-btn_linkedin.link-btn_dark {
  background-image: url("../img/icons/linkedin_hover.svg");
}
.link-btn_linkedin.link-btn_dark:hover {
  background-image: url("../img/icons/linkedin.svg");
}

.link-btn_mail.link-btn_dark {
  background-image: url("../img/icons/mail_hover.svg");
}
.link-btn_mail.link-btn_dark:hover {
  background-image: url("../img/icons/mail.svg");
}

.link-btn_mail {
  background-image: url("../img/icons/mail.svg");
}

.section-text {
  font-size: 16px;
  line-height: 133%;
  font-weight: 400;
  color: #333;
}

.vision {
  position: relative;
  background-color: #F9F9FB;
}
.vision::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 160px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(249, 249, 251, 0)), to(#FFF));
  background: linear-gradient(0, rgba(249, 249, 251, 0) 0%, #FFF 100%);
}
.vision__container-l {
  position: relative;
  padding: 80px 0 72px;
  max-width: 1920px;
  min-height: 640px;
  margin: 0 auto;
  background-image: url("../img/company/intro-bg.png");
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
}
.vision__title {
  font-weight: 600;
  margin: 0 0 32px;
  color: black;
  font-size: 36px;
  line-height: 133%;
}
.vision__title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background: #29AD26;
  margin: 32px 0;
}
.vision__desc {
  padding-top: 50px;
  max-width: 636px;
  margin-bottom: 60px;
}
.vision__text {
  margin-bottom: 60px;
  color: #333;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 181.818%;
}
.vision__text_r {
  font-weight: 400;
}
.vision__btn {
  display: block;
  max-width: 157px;
  background-image: url("../img/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 22px;
  padding-left: 20px;
  font-weight: 500;
}
.vision__btn:hover {
  background-color: #2E8D3A;
  background-position: center right 18px;
}

.team {
  position: relative;
  padding: 40px 0 80px;
  background-color: #ffffff;
}
.team::before {
  display: block;
  content: "";
  position: absolute;
  top: -120px;
  left: 0;
  height: 120px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(249, 249, 251, 0)), to(#FFF));
  background: linear-gradient(180deg, rgba(249, 249, 251, 0) 0%, #FFF 100%);
}
.team::after {
  content: "";
  position: absolute;
  bottom: -162px;
  left: 0;
  height: 162px;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(249, 249, 251, 0)), to(#FFFFFF));
  background: linear-gradient(0deg, rgba(249, 249, 251, 0) 0%, #FFFFFF 100%);
}
.team__title {
  font-weight: 600;
  color: black;
  margin-bottom: 24px;
  font-size: 36px;
  line-height: 133%;
}
.team__text {
  margin-bottom: 44px;
  color: #333333;
  line-height: 162.5%;
}

.team-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.08));
          filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.08));
  position: relative;
  z-index: 1000;
}

.team-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 636px;
      flex-basis: 636px;
  background-color: #fff;
  padding: 48px 24px 37px;
  border-top: 3px solid #29AD26;
}
.team-card:not(:last-child) {
  margin-right: 24px;
}
.team-card__image {
  margin: 0 auto 32px;
  max-width: 160px;
  height: 166px;
}
.team-card__subtitle {
  margin-bottom: 16px;
  font-size: 22px;
  line-height: 136%;
  color: #333333;
  font-weight: 600;
}
.team-card__text {
  line-height: 162%;
  color: #6f6f6f;
  margin-bottom: 26px;
}
.team-card__down-block {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: auto;
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #29AD26;
}
.team-card__down-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #6f6f6f;
}

.values {
  padding: 80px 0;
  position: relative;
}
.values__title {
  font-weight: 600;
  color: black;
  margin-bottom: 44px;
  font-size: 36px;
  line-height: 133%;
}
.values__text {
  margin-bottom: 44px;
  line-height: 162.5%;
}
.values__image {
  width: 34px;
  height: 34px;
  margin-bottom: 40px;
}
.values__subtitle {
  font-size: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  color: #333333;
}

.values-main {
  padding-bottom: 210px;
  background-image: url("../img/company/bg.svg");
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.values-m {
  margin: 0 auto;
  -webkit-filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.0784313725));
          filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.0784313725));
}

.values-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  max-width: 834px;
  margin: 0 auto;
}
.values-grid__card {
  padding: 34px 32px 32px;
  background-color: white;
  -ms-flex-preferred-size: 412px;
      flex-basis: 412px;
  border-top: 3px solid #29AD26;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
.values-grid__card_b {
  margin-bottom: 10px;
}
.values-grid__card:nth-child(1) {
  margin-right: 10px;
}
.values-grid__text {
  color: #6f6f6f;
  line-height: 162.5%;
}

.planets {
  background-color: #F9F9FB;
  padding-top: 80px;
}
.planets__container {
  max-width: 1316px;
  position: relative;
}
.planets__text {
  font-size: 16px;
  line-height: 26px;
  color: #333333;
  font-weight: 400;
  margin-bottom: 80px;
}
.planets__ab {
  position: absolute;
  width: 100%;
  max-width: 647px;
  padding: 10px 24px;
}
.planets__ab_left {
  top: 159px;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(123, 120, 120, 0.05)), color-stop(87.39%, rgba(123, 120, 120, 0)));
  background: linear-gradient(90deg, rgba(123, 120, 120, 0.05) 0%, rgba(123, 120, 120, 0) 87.39%);
}
.planets__ab_right {
  right: 0;
  bottom: 42px;
  background: -webkit-gradient(linear, left top, right top, color-stop(6.57%, rgba(50, 181, 47, 0)), to(rgba(52, 183, 49, 0.05)));
  background: linear-gradient(90deg, rgba(50, 181, 47, 0) 6.57%, rgba(52, 183, 49, 0.05) 100%);
}
.planets__ab_right .planets__ab-text {
  color: #29AD26;
  margin-left: auto;
  max-width: 109px;
}
.planets__ab-text {
  display: block;
  max-width: 169px;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  color: #7C7979;
}

.planets-wrapper {
  max-width: 936px;
  width: 100%;
  padding: 0 150px;
  margin: 100px auto;
}

.planetarium {
  width: 100%;
  padding-top: 100%;
  background-image: url("../img/solution/intro.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  z-index: 100;
}

.planetarium-center {
  position: absolute;
  top: 50%;
  left: 50.5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 44.968%;
  height: 44.968%;
  background-color: transparent;
}
.planetarium-center::after {
  content: "";
  display: block;
  width: 90%;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  background-color: blue;
  -webkit-box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.4);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.planetarium-center_h::after {
  opacity: 1;
}
.planetarium-center .planetarium-center .planetarium-center-block:hover ~ .planetarium-center {
  background-color: red;
}
.planetarium-center-block {
  width: 100%;
  position: relative;
  height: 49.2%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  z-index: 100;
}
.planetarium-center-block_top {
  margin-bottom: 2.178%;
  margin-top: 0;
}
.planetarium-center-block_bottom {
  padding-bottom: 1.786%;
}
.planetarium-center__button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: linear-gradient(303deg, #1EA22E -0.69%, #11CD0C 83.72%);
  width: 75.52%;
  height: 150%;
  top: 25%;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding-left: 8.8%;
  padding-right: 8.8%;
  line-height: normal;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 50%;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.planetarium-center__button:hover {
  top: 22.14%;
  bottom: 22.14%;
  width: 78.32%;
  height: 155.7%;
  -webkit-box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.0509803922) inset;
          box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.0509803922) inset;
  -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1490196078);
  line-height: normal;
  background: linear-gradient(302.51deg, #15A026 -0.69%, #1BB018 83.72%);
}
.planetarium-center__button_top {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 14.14%;
}
.planetarium-center__button_top:hover {
  padding-top: 14.43%;
}
.planetarium-center__button_bottom {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: auto;
  padding-bottom: 14.14%;
  bottom: 25%;
}
.planetarium-center__button_bottom:hover {
  padding-bottom: 14.43%;
}

a.planetarium__planet {
  position: absolute;
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-image: url("../img/solution/icons/ellipse.png");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  text-decoration: none;
}
a.planetarium__planet::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  background-color: #29AD26;
  -webkit-box-shadow: 0px 24px 24px 0px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 24px 24px 0px rgba(0, 0, 0, 0.1490196078);
  z-index: -1;
}
a.planetarium__planet::after {
  color: #333333;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  top: 5px;
  display: block;
  position: absolute;
  padding: 5px;
  padding-left: 0;
  font-size: 20px;
  line-height: 135%;
  font-weight: 600;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  background-color: #F9F9FB;
  z-index: -10;
}
a.planetarium__planet:hover {
  background-size: 48px 48px;
}
a.planetarium__planet:hover::after {
  color: #2E8D3A;
}

#cmdts {
  right: calc(50% - 50% * cos(3.14159/20) - 24px);
  top: calc(50% - 50% * sin(3.14159/20) - 24px);
}
#cmdts::after {
  content: "Commodities";
  right: -12px;
  -webkit-transform: translate(100%);
          transform: translate(100%);
}

#for_exc {
  right: calc(50% - 50% * cos(0.942477) - 24px);
  top: calc(50% - 50% * sin(0.942477) - 24px);
}
#for_exc::after {
  content: "Foreign Exchange";
  right: -12px;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

#equ {
  right: calc(50% - 50% * cos(1.884954) - 24px);
  top: calc(50% - 50% * sin(1.884954) - 24px);
}
#equ::after {
  content: "Equities";
  left: -12px;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

#digas {
  right: calc(50% - 50% * cos(2.74889125) - 24px);
  top: calc(50% - 50% * sin(2.74889125) - 24px);
}
#digas::after {
  content: "Digital Assets";
  left: -12px;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

#ins {
  right: calc(50% - 50% * cos(3.6128285) - 24px);
  top: calc(50% - 50% * sin(3.6128285) - 24px);
}
#ins::after {
  content: "Insurance";
  left: -12px;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

#infl {
  right: calc(50% - 50% * cos(4.16260675) - 24px);
  top: calc(50% - 50% * sin(4.16260675) - 24px);
}
#infl::after {
  content: "Inflation";
  left: -12px;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

#cred {
  right: calc(50% - 50% * cos(4.8694645) - 24px);
  top: calc(50% - 50% * sin(4.8694645) - 24px);
}
#cred::after {
  content: "Credit";
  right: -12px;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

#fxd_inc {
  right: calc(50% - 50% * cos(5.654862) - 24px);
  top: calc(50% - 50% * sin(5.654862) - 24px);
}
#fxd_inc::after {
  content: "Fixed Income";
  right: -12px;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

a.planetarium__planet_g {
  position: absolute;
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-image: url("../img/solution/icons/ellipse_gray.png");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  text-decoration: none;
}
a.planetarium__planet_g::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  background-color: #7f7b7b;
  -webkit-box-shadow: 0px 24px 24px 0px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 24px 24px 0px rgba(0, 0, 0, 0.1490196078);
  z-index: -1;
}
a.planetarium__planet_g::after {
  color: #333333;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  top: 5px;
  display: block;
  position: absolute;
  padding: 5px;
  padding-left: 0;
  font-size: 20px;
  line-height: 135%;
  font-weight: 600;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  background-color: #F9F9FB;
  z-index: -10;
}

#anlcs {
  right: calc(50% - 32.7% * cos(0.4398226) - 24px);
  top: calc(50% - 32.7% * sin(0.4398226) - 24px);
}
#anlcs::after {
  content: "Analytics";
  right: -12px;
  -webkit-transform: translate(35%, 130%);
          transform: translate(35%, 130%);
}

#pdcts {
  right: calc(50% - 32.7% * cos(1.64933475) - 24px);
  top: calc(50% - 32.7% * sin(1.64933475) - 24px);
}
#pdcts::after {
  content: "Products";
  right: -12px;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

#vldt {
  right: calc(50% - 32.7% * cos(2.9845105) - 24px);
  top: calc(50% - 32.7% * sin(2.9845105) - 24px);
}
#vldt::after {
  content: "Validations";
  right: -5px;
  -webkit-transform: translate(25%, -130%);
          transform: translate(25%, -130%);
}

#mtds {
  right: calc(50% - 32.7% * cos(4.16260675) - 24px);
  top: calc(50% - 32.7% * sin(4.16260675) - 24px);
}
#mtds::after {
  content: "Methods";
  right: -12px;
  -webkit-transform: translate(100%, 12%);
          transform: translate(100%, 12%);
}

#mdls {
  right: calc(50% - 32.7% * cos(5.4977825) - 24px);
  top: calc(50% - 32.7% * sin(5.4977825) - 24px);
}
#mdls::after {
  content: "Models";
  right: -12px;
  -webkit-transform: translate(50%, -130%);
          transform: translate(50%, -130%);
}

.grid {
  position: relative;
  padding-top: 20px;
  padding-bottom: 48px;
  background-color: #F9F9FB;
}
.grid__container {
  position: relative;
}

.grid-card {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}
.grid-card__desc {
  padding: 70px 70px 44px;
  -ms-flex-preferred-size: 856px;
      flex-basis: 856px;
  -ms-flex-negative: 3;
      flex-shrink: 3;
}
.grid-card__title {
  color: #333333;
  font-size: 28px;
  line-height: 135%;
  font-weight: 600;
}
.grid-card__title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background: #29AD26;
  margin: 24px 0;
}
.grid-card__text {
  color: #333333;
  font-size: 16px;
  line-height: 162.5%;
  font-weight: 600;
  margin-bottom: 40px;
  max-width: 540px;
}
.grid-card__ul {
  margin-left: 26px;
}
.grid-card__li {
  color: #6F6F6F;
  font-size: 16px;
  line-height: 162.5%;
  list-style-image: url("../img/icons/li-cube.svg");
  padding-left: 8px;
}
.grid-card__li:not(:last-child) {
  margin-bottom: 16px;
}
.grid-card__image {
  background: #F9F9FB;
  padding: 71px 52px;
  -ms-flex-preferred-size: 416px;
      flex-basis: 416px;
  margin: 24px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
.grid-card__image_left {
  margin-right: 0;
}
.grid-card__image_right {
  margin-left: 0;
}
.default-section-main {
  background-color: #fff;
  width: 100%;
  padding: 70px;
  margin: 0 auto;
  max-width: 1296px;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.08);
}

.default-section {
  position: relative;
  padding: 80px 0;
}
.default-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 160px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(249, 249, 251, 0)), to(#FFF));
  background: linear-gradient(0, rgba(249, 249, 251, 0) 0%, #FFF 100%);
}
.default-section__container {
  position: relative;
}
.default-section__title {
  font-size: 36px;
  line-height: 133%;
  font-weight: 600;
  margin: 0;
}
.default-section__list {
  padding-left: 20px;
}
.default-section__item {
  margin-bottom: 0px;
  font-size: 16px;
  color: #333333;
  line-height: 200%;
  font-weight: 400;
  list-style-type: none;
  position: relative;
}
.default-section__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 3.6px;
  height: 3.7px;
  border-radius: 50%;
  background-color: #333333;
  top: 15px;
  left: -12px;
}
.default-section__text {
  font-size: 16px;
  line-height: 162.5%;
  color: #333333;
  font-weight: 400;
}
.default-section__text_lst {
  margin-top: 24px;
}
.default-section__text:not(:last-child) {
  margin-bottom: 24px;
}
.default-section__text_spec-top {
  margin-top: 24px;
}
.default-section__subtitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 137.5%;
  margin-bottom: 24px;
  color: #333333;
}
.default-section__link {
  text-decoration: underline;
  color: #0057FF;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  font-size: 16px;
  line-height: 162.5%;
  color: #2E8D3A;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}

.default-section-row {
  margin-top: 48px;
}

.attention {
  color: #656565;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.contact-section {
  position: relative;
  padding: 80px 0;
}
.contact-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 160px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(249, 249, 251, 0)), to(#FFF));
  background: linear-gradient(0, rgba(249, 249, 251, 0) 0%, #FFF 100%);
}
.contact-section__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 162.5%;
  color: #333;
  margin-bottom: 44px;
}

.contact__container {
  max-width: 876px;
  position: relative;
}

.contact-block {
  padding: 70px;
  background-color: #fff;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.08);
}
.contact-block__title {
  color: #000;
  font-size: 36px;
  font-weight: 600;
  line-height: 133.3%;
  margin-bottom: 48px;
  margin-top: 0;
}
.contact-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
}
.contact-block__row_chkbx {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 48px;
}
.contact-block__col {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.contact-block__col:not(:last-child) {
  margin-right: 24px;
}
.contact-block__input {
  width: 100%;
  height: 100%;
  padding: 14px 20px;
  color: #111;
  font-size: 16px;
  font-weight: 400;
  border: 0px;
  outline: none;
  border: 1px solid #C2C4C7;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  background-size: 24px;
  background-position: center right 20px;
  background-repeat: no-repeat;
  padding-right: 50px;
}
.contact-block__input::-webkit-input-placeholder {
  color: #a8a8a8;
  opacity: 1; /* Firefox */
}
.contact-block__input::-moz-placeholder {
  color: #a8a8a8;
  opacity: 1; /* Firefox */
}
.contact-block__input:-ms-input-placeholder {
  color: #a8a8a8;
  opacity: 1; /* Firefox */
}
.contact-block__input::-ms-input-placeholder {
  color: #a8a8a8;
  opacity: 1; /* Firefox */
}
.contact-block__input::placeholder {
  color: #a8a8a8;
  opacity: 1; /* Firefox */
}
.contact-block__inp .contact-block__input:focus {
  border-color: #000;
}
.contact-block__inp {
  position: relative;
  width: 100%;
  min-height: 52px;
}
.contact-block__inp_b {
  border: 1px solid #c2c4c7;
}
.contact-block__inp_error ~ .contact-block__inp-title {
  color: #f00;
}
.contact-block__inp_error .contact-block__input, .contact-block__inp_error .contact-block__input:focus {
  background-image: url("../img/icons/error.svg");
  border-color: #f00;
}
.contact-block__inp-title {
  display: block;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}
.contact-block__flag {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  right: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.contact-block__message {
  resize: none;
  height: 118px;
}
.contact-block__text {
  max-width: 488px;
  color: #6F6F6F;
  font-size: 14px;
  font-weight: 400;
  line-height: 185.714%;
}
.contact-block__submit {
  display: block;
  padding: 12px 56px 12px 20px;
  border: 0;
  outline: none;
  min-width: 119px;
  background-color: #c7c7c7;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  background-image: url("../img/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.contact-block__submit_active {
  background-color: #29AD26;
  cursor: pointer;
}
.contact-block__submit_active:hover {
  background-color: #2E8D3A;
  background-position: center right 16px;
}

.contact-checkbox {
  margin-right: 12px;
  margin-top: 2px;
  margin-left: 2px;
}

#contact-checkbox:checked ~ .contact-checkbox {
  background-image: url(../img/icons/check-white.svg);
  background-color: #2E8D3A;
}

.choices {
  height: 100%;
  width: 100%;
  margin-bottom: 0;
}
.choices[data-type*=select-one]::after {
  border-width: 4.5px;
  top: calc(50% - 1px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: 0;
  right: 20px;
}
.choices[data-type*=select-one].is-open::after {
  margin-top: -4.5px;
}
.choices__inner {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0px;
  background-color: transparent;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.choices__list--dropdown.choices__list {
  width: calc(100% + 2px);
  left: -1px;
}