body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color:  #7ccf70;
    background-image: url(../img/icons/311935.svg);
    background-size: 40px;
    position: relative;
}
body::before{
    content: '';
    width: 300px;
    height: 200px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../img/icons/blur.svg);
    background-size: contain;
    background-repeat: no-repeat;}
.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #f9f9f9; /* Light grey background */
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0px 0px 30px 20px rgba(0, 40, 0, 0.3);
    border: 2px solid #008000;
    border-top-width: 6px;
    border-bottom-width: 6px;
    position: relative;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    color: #1e4818;
    margin-top: 24px;
    font-weight:bolder;
    text-align: center;
    letter-spacing: .01em
}
h1::after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #008000;
    border-radius: 2px;
    margin: 10px 0;
}
p {
    font-family: 'Open Sans', sans-serif;
    color: #404040;
    line-height: 1.6;
    }
.text{

   margin-bottom: 20px;
 
}
a.link {
    color: blue;
}
.image{
    width: 100%;
    height: 400px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}
.image::after{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    content: '';
    display: block;
    background: #008000;
    opacity: .1;
}
.image__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.link{
    transition: .1s;
    display: block;
    margin: 0 auto;
    width: 52px;
}
.link:hover{
    filter: drop-shadow(0 0 5px rgba(0,180,0,0.4));
}
@media screen and (max-width: 500px){
    h1{
        font-size: 24px
    }
    .container{
        padding: 50px 10px;
    }
}